template t_papertrail {
  template("<$PRI>$DATE {{ salt['pillar.get']('enumerated-id', salt['grains.get']('id')) }} $PROGRAM: $MSG\n");
};

destination d_papertrail {
  tcp("{{ salt['pillar.get']('syslog_ng:destination') }}" port({{ salt['pillar.get']('syslog_ng:port') }}) template(t_papertrail) tls(ca_dir("/etc/syslog-ng/cert.d")) );
};
