engines_dirs: {{ salt['pillar.get']('engines_dirs') | yaml}}

engines:
{% for engine_name, engine_data in salt['pillar.get']('engines').items() %}
  - {{ engine_name }}: {{ engine_data | yaml }}
{% endfor %}